/* general */
.root {
    -fx-font-family: "Verdana";
    -fx-background-color: #303030;
}

.button {
    -fx-cursor: hand;
}

/* menu */
.menu, .menu-item {
    -fx-cursor: hand;
}

.menu-bar, .menu-item {
    -fx-background-color: #404040;
}

.menu-bar .label {
    -fx-text-fill: #ffffff;
    -fx-opacity: 0.7;
}

.menu:hover > .label, .menu:focused > .label, .menu:showing > .label,
.menu-item:hover > .label, .menu-item:focused > .label {
    -fx-opacity: 0.9;
}

.menu:hover, .menu:focused, .menu:showing,
.menu-item:hover, .menu-item:focused {
    -fx-background-color: #b91d47;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #303030;
    -fx-background-insets: 0;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 4 4 4 4;
}

/* table */
.table-view {
    -fx-padding: 20 10;
}

.table-view, .table-view:focused {
    -fx-background-color: transparent;
}

.table-view .filler {
   -fx-background-color: transparent;
}

.table-view .scroll-bar {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .decrement-arrow, .table-view .scroll-bar .decrement-button,
.table-view .scroll-bar .increment-arrow, .table-view .scroll-bar .increment-button {
    -fx-shape: " ";
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #b91d47;
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-opacity: 0.7;
}

.table-row-cell{
    -fx-background-color: #202020, #303030;
    -fx-table-cell-border-color: #202020;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}

.cell {
    -fx-text-fill: #ffffff;
    -fx-opacity: 0.9;
}

.indexed-cell:selected {
    -fx-background-color: #404040;
}

/* inputs */
.date-picker {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-opacity: 0.7;
    -fx-padding: 10 5 5 5;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #b91d47;
}

.text-field:focused {
    -fx-opacity: 0.8;
    -fx-padding: 5 5 5 5;
    -fx-border-color: #ee1111;
}

.date-picker > .arrow-button,
.date-picker > .arrow-button > .arrow {
    -fx-padding: 0;
    -fx-border-width: 0 0 0 0;
}

#addActivityButton, .save-button,
.cancel-button, .discard-button {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-opacity: 0.7;
    -fx-padding: 5 20 5 20;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: #b91d47;
}

#addActivityButton:focused, #addActivityButton:hover,
.save-button:focused, .save-button:hover,
.cancel-button:focused, .cancel-button:hover,
.discard-button:focused, .discard-button:hover {
    -fx-opacity: 0.8;
    -fx-padding: 5 20 5 20;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-background-color: #b91d47;
    -fx-border-color: #ee1111;
}

.cancel-button {
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-border-color: #606060;
}

.cancel-button:focused, .cancel-button:hover {
    -fx-background-color: #606060;
    -fx-border-color: #707070;
}

.discard-button {
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-border-color: #9acd32;
}

.discard-button:focused, .discard-button:hover {
    -fx-background-color: #9acd32;
    -fx-border-color: #adff2f;
}

.edit-button {
    -fx-background-image: url('/editicon.png');
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-background-size: 32 32;
}

.delete-button {
    -fx-background-image: url('/deleteicon.png');
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-background-size: 32 32;
}

#aboutLabel {
    -fx-text-fill: #ffffff;
    -fx-opacity: 0.7;
}